- if flash[:notice]
  #notice
    = flash[:notice]

- if flash[:errors] && !flash[:errors].empty?
  Sorry, there were the following problems with the form. 
  %ul#errors
    - flash[:errors].each do |error|
      = error