!!!
%html
  %head
    %title
      Chitter
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap.css")
    %link(rel="stylesheet" type="text/css" href="/css/application.css")
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css")
    
  %body
    %nav(class="navbar navbar-default" role="navigation")
      .navbar-header
        %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse")
          %span(class="sr-only")
            Toggle navigation
          %span(class="icon-bar")
          %span(class="icon-bar")
          %span(class="icon-bar")
        %a(class="navbar-brand" href="/")
          CHITTER

      %div(class="collapse navbar-collapse navbar-ex1-collapse")
        %ul(class="nav navbar-nav navbar-right")
          %li
            %a(href="/users/new")
              Sign up

        %ul(class="nav navbar-nav navbar-right")
          %li
            %a(href="/sessions/new")
              Sign in

    = partial :flash
    
    = yield

